USE [veritabani]
GO
/****** Object:  Table [dbo].[table]    Script Date: 29.12.2024 16:45:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[table](
	[Marka] [nvarchar](100) NOT NULL,
	[Model] [nvarchar](100) NOT NULL,
	[Renk] [nvarchar](100) NOT NULL,
	[Malzeme] [nvarchar](100) NOT NULL,
	[Agirlik] [nvarchar](100) NOT NULL,
	[Fiyat] [nvarchar](100) NOT NULL,
	[Stok] [nvarchar](100) NOT NULL,
	[Garanti] [nvarchar](100) NOT NULL,
	[Ekstra] [nvarchar](100) NOT NULL,
	[Aciklama] [nvarchar](100) NOT NULL,
	[Resim] [varbinary](max) NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yorumlar]    Script Date: 29.12.2024 16:45:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yorumlar](
	[YorumId] [int] IDENTITY(1,1) NOT NULL,
	[Yorum] [nvarchar](max) NULL,
	[Puan] [int] NULL,
	[UrunId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[YorumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[table] ON 

SET IDENTITY_INSERT [dbo].[table] OFF
GO
SET IDENTITY_INSERT [dbo].[Yorumlar] ON 

INSERT [dbo].[Yorumlar] ([YorumId], [Yorum], [Puan], [UrunId]) VALUES (5, N'kötü', 2, 1)
INSERT [dbo].[Yorumlar] ([YorumId], [Yorum], [Puan], [UrunId]) VALUES (6, N'güzel', 5, 1)
INSERT [dbo].[Yorumlar] ([YorumId], [Yorum], [Puan], [UrunId]) VALUES (9, N'fena değil', 3, 3)
SET IDENTITY_INSERT [dbo].[Yorumlar] OFF
GO
